#section2-content {
  transform: perspective(1000px) translateZ(-4000px) rotateY(-90deg);
  /* scale: 0.1; */
  opacity: 0.3;
}

.reflected {
  -webkit-box-reflect: below 10px 10%
    linear-gradient(transparent, rgba(255, 255, 255, 0.3));
}

.box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  position: relative;
}
