#section2-content {
  transform: perspective(1000px) translateZ(-4000px) rotateY(-90deg);
  /* scale: 0.1; */
  will-change: transform;
  opacity: 0.3;
}

.black-gradient {
  background: linear-gradient(180deg, #131a14 0%, rgba(0, 0, 0) 100%);
}

.box {
  width: 100px;
  height: 100px;
  background-color: #3498db;
  position: relative;
}

.hero_text {
  display: inline-block;
  transform-origin: left;
  transform: rotateZ(-10deg);
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.hollow-text {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}
