@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Orbitron:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
html,
body,
#root {
  /* height: 100%; */
  font-family: Kanit, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: #000;
  /* background-color: black; */
}

canvas {
  height: 100vh;
}

#root {
  position: relative;
}

.absolute-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.perspective-container {
  perspective: 500px;
  perspective-origin: center;
}

@keyframes animateBg {
  0% {
    background: radial-gradient(circle closest-side, #fff 0%, transparent 100%);
  }
  100% {
    background: radial-gradient(
      circle closest-side,
      #fff 100%,
      transparent 100%
    );
  }
}

.heading {
  font-size: clamp(40px, 5vw, 60px);
  line-height: 1.3;
  font-family: Orbitron, Kanit, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
}

.large-heading {
  font-size: clamp(40px, 8vw, 80px);
  font-family: Orbitron, Kanit, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
}

.xl-heading {
  font-size: clamp(60px, 14vw, 100px);
  font-family: Orbitron, Kanit, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 600;
}

.small-heading {
  font-size: clamp(28px, 4vw, 36px);
  line-height: 2.5rem;
  font-weight: 600;
  font-family: Orbitron, Kanit, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.xs-heading {
  font-size: clamp(28px, 3vw, 24px);
  line-height: 2.5rem;
  font-weight: 600;
  font-family: Orbitron, Kanit, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.backdrop-filter-wkit {
  -webkit-backdrop-filter: "blur(12.1px)";
  backdrop-filter: blur(12.1px);
}

/* In your CSS or tailwindcss file */
@variants responsive {
  .tw-sm-heading {
    @apply text-[30px];
  }

  @screen sm {
    .tw-sm-heading {
      @apply sm:text-[36px];
    }
  }

  @screen md {
    .tw-sm-heading {
      @apply md:text-[40px];
    }
  }

  @screen xl {
    .tw-sm-heading {
      @apply xl:text-5xl;
    }
  }
}
